@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/northern-lights.jpg");
  background-size: cover;
  background-position: center;
}

.home-title {
  height: 50vh;
}

.home-socials {
  height: 50vh;
}

.bi:hover {
  color: #0d6efd !important;
}

.about {
  height: 100vh;
}

.projects {
  height: 100vh;
  background-color: black;
}

.experience {
  height: 100vh;
}

.contact {
  height: 100vh;
  background-color: black;
}
